@import "../../../../styles.scss";

mat-card{
    padding: 15px;
    text-align: center;
}

h1{
    font-size: var(--headline-1);
    letter-spacing: 2px;
}

h2{
    font-size: var(--headline-2);
    letter-spacing: 2px;
}

h3{
    font-size: var(--headline-3);
    letter-spacing: 2px;
}

.container-image{
    
    @media (min-width: $breakpoint_tablet) {
        display: flex;
        justify-content: flex-end;
        padding: 16px 16px 0;
    }

    img{
        object-fit: contain;
        object-position: center;
        max-width: 60%;
        border-radius: 100%;
        border: 2px solid white;
        
    }
}

.column-start{
   align-items: center;
}
@media (min-width: $breakpoint_tablet) {
    .column-start{
        justify-content: center;
        align-items: flex-start;
    }
}

.bottom{
    margin-top: 30px;
    p{
        font-size: var(--p);
        letter-spacing: 2px;
    }
}

.mat-mdc-button>.mat-icon{
    margin-right: 0;
}